<div id="{{panelid}}" class="carousel-item submenu" role="menu" tabindex="-1" aria-label="{{title}}">
    <div class="d-flex flex-column bmd-custom-list">
        <a href="#" class="dropdown-item text-break local-extendednav-back-btn" role="menuitem" tabindex="-1" data-carousel-target-id="carousel-item-main">
            <span class="carousel-navigation-link-arrow">
                <i class="icon fa fa-arrow-left fa-fw" aria-hidden="true"></i>
            </span>
            {{title}}
        </a>
        <div class="dropdown-divider"></div>
        {{#items}}
        <a href="{{url}}" class="dropdown-item text-break" role="menuitem" tabindex="-1" {{#newwindow}}target="_blank"{{/newwindow}}>
            {{#icon}}
            <span class="carousel-navigation-link-icon">
                <i class="icon fa {{icon}} fa-fw" aria-hidden="true"></i>
            </span>
            {{/icon}}
            {{title}}
        </a>
        {{/items}}
    </div>
</div>
